In [40]:
import pandas as pd
import numpy as np
import csv

In [41]:
df = pd.read_csv('../resources/world_bank_edu_econ.csv')

In [42]:
df.keys()

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]',
       '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]',
       '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]',
       '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]',
       '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]'],
      dtype='object')

In [43]:
df.head()

,Country Name,Country Code,Series Name,Series Code,1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Afghanistan,AFG,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,AFG,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,Albania,ALB,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,97.3142471313477,95.8898773193359,94.3273468017578,..,91.7103118896484,...,90.2672882080078,89.3933334350586,91.0338668823242,93.2256622314453,96.137092590332,95.91259765625,95.9208908081055,..,..,..
3,Albania,ALB,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,11.0004587085314,15.6921749002297,8.38736736539624,9.98551753070163,3.178191730037,6.66955656364789,...,6.05518780874385,-0.0630675422297742,-2.23345897780743,1.71687678510412,-0.270580166785152,2.84234118560767,0.774343444991928,3.8877436690633,..,..
4,Algeria,DZA,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,89.7255325317383,90.5237197875977,92.6419372558594,93.91455078125,94.4528579711914,...,97.3411483764648,98.8084030151367,98.6604766845703,98.7500610351563,..,..,..,98.8130264282227,..,..

In [44]:
dropped_df = df.drop(['Country Code', 'Series Code'], axis=1)

In [45]:
indexed_df = dropped_df.set_index(['Country Name', 'Series Name']) 
indexed_df = indexed_df.sort_index()
indexed_df = indexed_df.replace(to_replace='..', value=0)

In [46]:
indexed_df.head(10)

                                                                       1998 [YR1998]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0
Albania        Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...   11.0004587085314
Algeria        Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...  -2.35999758581585
American Samoa Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0
Andorra        Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0

                                                                      1999 [YR1999]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...  97.3142471313477
               Adjusted net national income per capita (annual...  15.6921749002297
Algeria        Adjusted net enrollment rate, primary (% of pri...  89.7255325317383
               Adjusted net national income per capita (annual...  3.62504223239083
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2000 [YR2000]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...  95.8898773193359
               Adjusted net national income per capita (annual...  8.38736736539624
Algeria        Adjusted net enrollment rate, primary (% of pri...  90.5237197875977
               Adjusted net national income per capita (annual...   20.430446586498
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                        2001 [YR2001]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0
Albania        Adjusted net enrollment rate, primary (% of pri...    94.3273468017578
               Adjusted net national income per capita (annual...    9.98551753070163
Algeria        Adjusted net enrollment rate, primary (% of pri...    92.6419372558594
               Adjusted net national income per capita (annual...  -0.419969041118691
American Samoa Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0
Andorra        Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0

                                                                      2002 [YR2002]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...    3.178191730037
Algeria        Adjusted net enrollment rate, primary (% of pri...    93.91455078125
               Adjusted net national income per capita (annual...  1.76252285248373
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2003 [YR2003]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...  91.7103118896484
               Adjusted net national income per capita (annual...  6.66955656364789
Algeria        Adjusted net enrollment rate, primary (% of pri...  94.4528579711914
               Adjusted net national income per capita (annual...  8.43937477537023
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2004 [YR2004]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...  91.1112899780273
               Adjusted net national income per capita (annual...  6.07517943943475
Algeria        Adjusted net enrollment rate, primary (% of pri...  95.2220077514648
               Adjusted net national income per capita (annual...  2.99788526469915
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2005 [YR2005]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...  4.48168374396111
Algeria        Adjusted net enrollment rate, primary (% of pri...  95.5387573242188
               Adjusted net national income per capita (annual...  10.0493050799874
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2006 [YR2006]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...    6.432783639763
Algeria        Adjusted net enrollment rate, primary (% of pri...  95.7594985961914
               Adjusted net national income per capita (annual...  5.24317766669611
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2007 [YR2007]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...  5.08227150483465
Algeria        Adjusted net enrollment rate, primary (% of pri...  95.9753799438477
               Adjusted net national income per capita (annual...  3.05809998203902
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                      2008 [YR2008]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...  90.2672882080078
               Adjusted net national income per capita (annual...  6.05518780874385
Algeria        Adjusted net enrollment rate, primary (% of pri...  97.3411483764648
               Adjusted net national income per capita (annual...  1.85312885804979
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                         2009 [YR2009]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                    0
               Adjusted net national income per capita (annual...                    0
Albania        Adjusted net enrollment rate, primary (% of pri...     89.3933334350586
               Adjusted net national income per capita (annual...  -0.0630675422297742
Algeria        Adjusted net enrollment rate, primary (% of pri...     98.8084030151367
               Adjusted net national income per capita (annual...     -10.743780289954
American Samoa Adjusted net enrollment rate, primary (% of pri...                    0
               Adjusted net national income per capita (annual...                    0
Andorra        Adjusted net enrollment rate, primary (% of pri...                    0
               Adjusted net national income per capita (annual...                    0

                                                                       2010 [YR2010]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0
Albania        Adjusted net enrollment rate, primary (% of pri...   91.0338668823242
               Adjusted net national income per capita (annual...  -2.23345897780743
Algeria        Adjusted net enrollment rate, primary (% of pri...   98.6604766845703
               Adjusted net national income per capita (annual...    12.523038333202
American Samoa Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0
Andorra        Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0

                                                                         2011 [YR2011]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                    0
               Adjusted net national income per capita (annual...                    0
Albania        Adjusted net enrollment rate, primary (% of pri...     93.2256622314453
               Adjusted net national income per capita (annual...     1.71687678510412
Algeria        Adjusted net enrollment rate, primary (% of pri...     98.7500610351563
               Adjusted net national income per capita (annual...  -0.0786913397979987
American Samoa Adjusted net enrollment rate, primary (% of pri...                    0
               Adjusted net national income per capita (annual...                    0
Andorra        Adjusted net enrollment rate, primary (% of pri...                    0
               Adjusted net national income per capita (annual...                    0

                                                                        2012 [YR2012]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0
Albania        Adjusted net enrollment rate, primary (% of pri...     96.137092590332
               Adjusted net national income per capita (annual...  -0.270580166785152
Algeria        Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...    3.81275285958398
American Samoa Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0
Andorra        Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0

                                                                      2013 [YR2013]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Albania        Adjusted net enrollment rate, primary (% of pri...    95.91259765625
               Adjusted net national income per capita (annual...  2.84234118560767
Algeria        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...  -1.6040129950251
American Samoa Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0
Andorra        Adjusted net enrollment rate, primary (% of pri...                 0
               Adjusted net national income per capita (annual...                 0

                                                                        2014 [YR2014]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0
Albania        Adjusted net enrollment rate, primary (% of pri...    95.9208908081055
               Adjusted net national income per capita (annual...   0.774343444991928
Algeria        Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...  -0.970847873479002
American Samoa Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0
Andorra        Adjusted net enrollment rate, primary (% of pri...                   0
               Adjusted net national income per capita (annual...                   0

                                                                       2015 [YR2015]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0
Albania        Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...    3.8877436690633
Algeria        Adjusted net enrollment rate, primary (% of pri...   98.8130264282227
               Adjusted net national income per capita (annual...  -3.93214125297277
American Samoa Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0
Andorra        Adjusted net enrollment rate, primary (% of pri...                  0
               Adjusted net national income per capita (annual...                  0

                                                                  2016 [YR2016]  \
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...             0
               Adjusted net national income per capita (annual...             0
Albania        Adjusted net enrollment rate, primary (% of pri...             0
               Adjusted net national income per capita (annual...             0
Algeria        Adjusted net enrollment rate, primary (% of pri...             0
               Adjusted net national income per capita (annual...             0
American Samoa Adjusted net enrollment rate, primary (% of pri...             0
               Adjusted net national income per capita (annual...             0
Andorra        Adjusted net enrollment rate, primary (% of pri...             0
               Adjusted net national income per capita (annual...             0

                                                                   2017 [YR2017]
Country Name   Series Name
Afghanistan    Adjusted net enrollment rate, primary (% of pri...            0.0
               Adjusted net national income per capita (annual...            0.0
Albania        Adjusted net enrollment rate, primary (% of pri...            0.0
               Adjusted net national income per capita (annual...            0.0
Algeria        Adjusted net enrollment rate, primary (% of pri...            0.0
               Adjusted net national income per capita (annual...            0.0
American Samoa Adjusted net enrollment rate, primary (% of pri...            0.0
               Adjusted net national income per capita (annual...            0.0
Andorra        Adjusted net enrollment rate, primary (% of pri...            0.0
               Adjusted net national income per capita (annual...            0.0

In [47]:
indexed_df.to_csv('../cleaned_resources/clean_wb_1.csv')

In [38]:
indexed_df.index

MultiIndex(levels=[['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands', 'Central African Republic', 'Central Europe and the Baltics', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', 'Cote d'Ivoire', 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'Data from database: World Development Indicators', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (IDA & IBRD countries)', 'East Asia & Pacific (excluding high income)', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Euro area', 'Europe & Central Asia', 'Europe & Central Asia (IDA & IBRD countries)', 'Europe & Central Asia (excluding high income)', 'European Union', 'Faroe Islands', 'Fiji', 'Finland', 'Fragile and conflict affected situations', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heavily indebted poor countries (HIPC)', 'High income', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Peopleâ€™s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Last Updated: 01/19/2018', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia', 'Least developed countries: UN classification', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low & middle income', 'Low income', 'Lower middle income', 'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Middle East & North Africa', 'Middle East & North Africa (IDA & IBRD countries)', 'Middle East & North Africa (excluding high income)', 'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America', 'Northern Mariana Islands', 'Norway', 'Not classified', 'OECD members', 'Oman', 'Other small states', 'Pacific island small states', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend', 'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia', 'Small states', 'Solomon Islands', 'Somalia', 'South Africa', 'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Martin (French part)', 'St. Vincent and the Grenadines', 'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'], ['Adjusted net enrollment rate, primary (% of primary school age children)', 'Adjusted net national income per capita (annual % growth)']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 16, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 27, 27, 28, 28, 29, 29, 30, 30, 31, 31, 32, 32, 33, 33, 34, 34, 35, 35, 36, 36, 37, 37, 38, 38, 39, 39, 40, 40, 41, 41, 42, 42, 43, 43, 44, 44, 45, 45, 46, 46, 47, 47, 48, 48, 49, 49, 50, 50, 51, 51, 52, 52, 53, 53, 54, 54, 55, 55, 56, 57, 57, 58, 58, 59, 59, 60, 60, 61, 61, 62, 62, 63, 63, 64, 64, 65, 65, 66, 66, 67, 67, 68, 68, 69, 69, 70, 70, 71, 71, 72, 72, 73, 73, 74, 74, 75, 75, 76, 76, 77, 77, 78, 78, 79, 79, 80, 80, 81, 81, 82, 82, 83, 83, 84, 84, 85, 85, 86, 86, 87, 87, 88, 88, 89, 89, 90, 90, 91, 91, 92, 92, 93, 93, 94, 94, 95, 95, 96, 96, 97, 97, 98, 98, 99, 99, 100, 100, 101, 101, 102, 102, 103, 103, 104, 104, 105, 105, 106, 106, 107, 107, 108, 108, 109, 109, 110, 110, 111, 111, 112, 112, 113, 113, 114, 114, 115, 115, 116, 116, 117, 117, 118, 118, 119, 119, 120, 120, 121, 121, 122, 122, 123, 123, 124, 124, 125, 125, 126, 126, 127, 127, 128, 128, 129, 130, 130, 131, 131, 132, 132, 133, 133, 134, 134, 135, 135, 136, 136, 137, 137, 138, 138, 139, 139, 140, 140, 141, 141, 142, 142, 143, 143, 144, 144, 145, 145, 146, 146, 147, 147, 148, 148, 149, 149, 150, 150, 151, 151, 152, 152, 153, 153, 154, 154, 155, 155, 156, 156, 157, 157, 158, 158, 159, 159, 160, 160, 161, 161, 162, 162, 163, 163, 164, 164, 165, 165, 166, 166, 167, 167, 168, 168, 169, 169, 170, 170, 171, 171, 172, 172, 173, 173, 174, 174, 175, 175, 176, 176, 177, 177, 178, 178, 179, 179, 180, 180, 181, 181, 182, 182, 183, 183, 184, 184, 185, 185, 186, 186, 187, 187, 188, 188, 189, 189, 190, 190, 191, 191, 192, 192, 193, 193, 194, 194, 195, 195, 196, 196, 197, 197, 198, 198, 199, 199, 200, 200, 201, 201, 202, 202, 203, 203, 204, 204, 205, 205, 206, 206, 207, 207, 208, 208, 209, 209, 210, 210, 211, 211, 212, 212, 213, 213, 214, 214, 215, 215, 216, 216, 217, 217, 218, 218, 219, 219, 220, 220, 221, 221, 222, 222, 223, 223, 224, 224, 225, 225, 226, 226, 227, 227, 228, 228, 229, 229, 230, 230, 231, 231, 232, 232, 233, 233, 234, 234, 235, 235, 236, 236, 237, 237, 238, 238, 239, 239, 240, 240, 241, 241, 242, 242, 243, 243, 244, 244, 245, 245, 246, 246, 247, 247, 248, 248, 249, 249, 250, 250, 251, 251, 252, 252, 253, 253, 254, 254, 255, 255, 256, 256, 257, 257, 258, 258, 259, 259, 260, 260, 261, 261, 262, 262, 263, 263, 264, 264, 265, 265, -1, -1, -1], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, -1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, -1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, -1, -1, -1]],
           names=['Country Name', 'Series Name'])

In [39]:
b = indexed_df.melt

ValueError: Index contains duplicate entries, cannot reshape

In [100]:
df_gdp = pd.read_csv('../resources/world_gdp_current_us.csv')
df_gdp.head(3)

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,4583644246.48061,5285465685.86423,6275073571.54659,7057598406.61553,9843842455.48323,10190529882.4878,12486943505.7381,15936800636.2487,17930239399.8149,20536542736.7297,20046334303.9661,20050189881.6659,19215562179.0117,19469022207.6852,..
1,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,5746945912.58082,7314865175.6199,8158548716.68554,8992642348.7871,10701011896.7708,12881352687.7773,12044212903.8168,11926953258.916,12890867538.5302,12319784787.2987,12776277515.48,13228244357.1813,11335264966.561,11863865978.0942,..
2,Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,67863829880.4832,85324998813.604,103198228458.588,117027304746.54,134977087734.008,171000691877.714,137211039898.193,161207268655.392,200019057307.655,209058991952.125,209755003250.664,213810022462.428,165874330876.321,159049096745.249,..

In [101]:
df_gdp.describe()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
count,266,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264
unique,266,264,1,1,248,249,249,250,251,249,248,249,249,245,246,244,243,235,1
top,Costa Rica,TEA,GDP (current US$),NY.GDP.MKTP.CD,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
freq,1,1,264,264,15,14,14,13,13,14,15,14,14,18,17,19,20,28,264

In [102]:
df_gdp = df_gdp.set_index('Country Name')
df_gdp = df_gdp.dropna()
df_gdp = df_gdp.replace(to_replace='..', value=0)
df_gdp = df_gdp.drop(['Country Code', 'Series Code'], axis=1)

In [103]:
df_gdp.loc['Costa Rica']

Series Name      GDP (current US$)
2003 [YR2003]      17195867540.353
2004 [YR2004]     18529767934.4743
2005 [YR2005]     19952156474.8454
2006 [YR2006]     22600431878.0024
2007 [YR2007]     26743874286.8514
2008 [YR2008]     30612932802.8991
2009 [YR2009]     30562361123.0307
2010 [YR2010]     37268635287.0856
2011 [YR2011]      42262697840.385
2012 [YR2012]     46473128285.5589
2013 [YR2013]     49745088111.6953
2014 [YR2014]     50656002895.8763
2015 [YR2015]      54840103850.265
2016 [YR2016]      57435507212.256
2017 [YR2017]                    0
Name: Costa Rica, dtype: object

In [104]:
df_gdp = df_gdp.dropna()

In [105]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, Afghanistan to Zimbabwe
Data columns (total 16 columns):
Series Name      264 non-null object
2003 [YR2003]    264 non-null object
2004 [YR2004]    264 non-null object
2005 [YR2005]    264 non-null object
2006 [YR2006]    264 non-null object
2007 [YR2007]    264 non-null object
2008 [YR2008]    264 non-null object
2009 [YR2009]    264 non-null object
2010 [YR2010]    264 non-null object
2011 [YR2011]    264 non-null object
2012 [YR2012]    264 non-null object
2013 [YR2013]    264 non-null object
2014 [YR2014]    264 non-null object
2015 [YR2015]    264 non-null object
2016 [YR2016]    264 non-null object
2017 [YR2017]    264 non-null int64
dtypes: int64(1), object(15)
memory usage: 35.1+ KB

In [106]:
df_gdp.to_csv("../cleaned_resources/clean_gdp_US.csv")

In [107]:
df_secondary_edu = pd.read_csv("../resources/secondary_school_enroll.csv")

In [108]:
df_secondary_edu.describe()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
count,266,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264,264
unique,266,264,1,1,188,198,198,191,197,191,191,190,194,188,179,178,125,9,1
top,Costa Rica,TEA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
freq,1,1,264,264,75,65,65,72,66,72,72,73,69,75,84,85,140,256,264

In [109]:
df_secondary_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 19 columns):
Country Name     266 non-null object
Country Code     264 non-null object
Series Name      264 non-null object
Series Code      264 non-null object
2003 [YR2003]    264 non-null object
2004 [YR2004]    264 non-null object
2005 [YR2005]    264 non-null object
2006 [YR2006]    264 non-null object
2007 [YR2007]    264 non-null object
2008 [YR2008]    264 non-null object
2009 [YR2009]    264 non-null object
2010 [YR2010]    264 non-null object
2011 [YR2011]    264 non-null object
2012 [YR2012]    264 non-null object
2013 [YR2013]    264 non-null object
2014 [YR2014]    264 non-null object
2015 [YR2015]    264 non-null object
2016 [YR2016]    264 non-null object
2017 [YR2017]    264 non-null object
dtypes: object(19)
memory usage: 40.0+ KB

In [110]:
df_secondary_edu

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Afghanistan,AFG,"School enrollment, secondary (% gross)",SE.SEC.ENRR,13.3170795440674,18.6647891998291,19.7837009429932,29.9304599761963,30.0831604003906,40.2233810424805,46.7327613830566,53.2468299865723,54.6161804199219,56.6773414611816,56.6886596679688,55.6561584472656,55.6444091796875,..,..
1,Albania,ALB,"School enrollment, secondary (% gross)",SE.SEC.ENRR,75.0189895629883,74.170280456543,76.8870620727539,77.9558868408203,81.2808685302734,83.6489181518555,85.409309387207,88.4116363525391,90.8483505249023,92.7414703369141,95.8315734863281,96.4260864257813,95.7654876708984,..,..
2,Algeria,DZA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,73.7556610107422,77.2134017944336,78.7822265625,79.7915802001953,70.2812118530273,76.7558517456055,93.0700302124023,97.1719207763672,99.8601913452148,..,..,..,..,..,..
3,American Samoa,ASM,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
5,Angola,AGO,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,23.5545902252197,24.9924507141113,28.7813091278076,28.8987197875977,..,..,..,..,..,..
6,Antigua and Barbuda,ATG,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,102.672256469727,110.871238708496,108.522506713867,106.206718444824,106.116546630859,105.393508911133,..,102.318222045898,102.705459594727,..,..
7,Arab World,ARB,"School enrollment, secondary (% gross)",SE.SEC.ENRR,64.0377731323242,65.8538589477539,65.9310073852539,65.8479309082031,64.6981582641602,65.3422927856445,66.8289031982422,68.0508804321289,70.6914901733398,71.7165603637695,70.2746887207031,70.7350463867188,..,..,..
8,Argentina,ARG,"School enrollment, secondary (% gross)",SE.SEC.ENRR,95.7509918212891,95.4969329833984,94.005989074707,93.3450698852539,93.7067489624023,95.2462768554688,98.8308181762695,101.801116943359,103.599678039551,105.19255065918,106.323143005371,106.777900695801,..,..,..
9,Armenia,ARM,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,88.3207397460938,91.0585632324219,93.8858337402344,94.8729705810547,92.7056121826172,96.6328811645508,..,..,..,..,..,88.5023574829102,..,..
10,Aruba,ABW,"School enrollment, secondary (% gross)",SE.SEC.ENRR,99.0911712646484,97.25244140625,95.9288177490234,97.3563690185547,102.546356201172,94.6491317749023,96.7234420776367,95.8235397338867,97.0151214599609,111.174522399902,..,..,..,..,..
11,Australia,AUS,"School enrollment, secondary (% gross)",SE.SEC.ENRR,156.194351196289,149.94206237793,148.366104125977,127.389617919922,126.36637878418,128.034057617188,130.318542480469,132.456695556641,134.268112182617,136.879623413086,137.581512451172,137.564788818359,..,..,..
12,Austria,AUT,"School enrollment, secondary (% gross)",SE.SEC.ENRR,99.6250534057617,99.6793823242188,100.512802124023,100.472991943359,99.8067474365234,99.4811630249023,99.6886367797852,98.8622436523438,98.193489074707,97.7844161987305,98.9362335205078,99.2964019775391,100.02188873291,..,..
13,Azerbaijan,AZE,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
14,"Bahamas, The",BHS,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,86.3785171508789,89.2948608398438,91.601318359375,95.0630722045898,94.4456634521484,92.9817428588867,92.6336822509766,..,..,..,..,..,..,..
15,Bahrain,BHR,"School enrollment, secondary (% gross)",SE.SEC.ENRR,94.2609710693359,95.3696975708008,96.1961898803711,96.3959503173828,..,91.797721862793,91.991081237793,92.8599624633789,95.2977981567383,91.6528015136719,96.6312866210938,98.8924407958984,102.130897521973,..,..
16,Bangladesh,BGD,"School enrollment, secondary (% gross)",SE.SEC.ENRR,50.2781181335449,46.8372993469238,45.516788482666,46.0980911254883,46.8709602355957,44.8864517211914,48.5376091003418,50.1194190979004,50.8635406494141,53.5320510864258,58.3092613220215,..,63.524528503418,..,..
17,Barbados,BRB,"School enrollment, secondary (% gross)",SE.SEC.ENRR,105.457382202148,107.744453430176,108.550003051758,105.884437561035,105.416030883789,104.495941162109,103.227142333984,101.902473449707,103.608627319336,..,..,109.247566223145,..,..,..
18,Belarus,BLR,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,110.763786315918,109.52855682373,107.05786895752,106.308082580566,107.004867553711,106.228012084961,107.031799316406,107.119422912598,..,..
19,Belgium,BEL,"School enrollment, secondary (% gross)",SE.SEC.ENRR,158.987564086914,107.916496276855,108.354248046875,108.503578186035,107.870719909668,106.412826538086,105.695953369141,105.78588104248,106.481132507324,106.309463500977,163.101013183594,164.811737060547,166.808471679688,..,..
20,Belize,BLZ,"School enrollment, secondary (% gross)",SE.SEC.ENRR,76.9527969360352,78.2889633178711,76.5187072753906,76.7253265380859,75.3678665161133,74.8418731689453,74.4397201538086,75.3597869873047,76.0342864990234,78.3836517333984,80.1630401611328,79.8772583007813,80.7922134399414,..,..
21,Benin,BEN,"School enrollment, secondary (% gross)",SE.SEC.ENRR,26.5806903839111,28.3475093841553,..,..,..,..,..,..,47.6814994812012,..,54.1660690307617,54.3636016845703,56.8119583129883,..,..
22,Bermuda,BMU,"School enrollment, secondary (% gross)",SE.SEC.ENRR,79.0366363525391,81.2965469360352,80.8843536376953,77.6422119140625,..,..,..,78.7241592407227,77.1428604125977,75.2807006835938,74.2486190795898,72.622428894043,71.5424118041992,..,..
23,Bhutan,BTN,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,45.7212295532227,48.6649513244629,52.8779716491699,56.4754104614258,61.7531089782715,66.1123886108398,69.5143737792969,73.6317672729492,77.2370986938477,84.1976928710938,..,..,..
24,Bolivia,BOL,"School enrollment, secondary (% gross)",SE.SEC.ENRR,82.7161178588867,85.8130493164063,86.9914398193359,86.3924102783203,86.0628280639648,85.5786590576172,84.0427703857422,83.1342163085938,82.3181228637695,82.8828964233398,84.6744995117188,85.3796310424805,86.4050674438477,..,..
25,Bosnia and Herzegovina,BIH,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
26,Botswana,BWA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,76.2931823730469,77.8344573974609,78.5254898071289,80.5333633422852,81.3717575073242,76.861572265625,..,..,..,..,..,..,..,..,..
27,Brazil,BRA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,101.868667602539,102.371032714844,101.2919921875,..,95.1699981689453,96.7201232910156,96.6654815673828,..,95.2633819580078,95.5837326049805,101.868072509766,101.950897216797,99.6509704589844,..,..
28,British Virgin Islands,VGB,"School enrollment, secondary (% gross)",SE.SEC.ENRR,97.086799621582,99.5915985107422,106.689338684082,108.052947998047,103.224067687988,..,97.0029983520508,101.602401733398,96.2462463378906,97.6035919189453,98.3093032836914,97.7373275756836,98.7335586547852,..,..
29,Brunei Darussalam,BRN,"School enrollment, secondary (% gross)",SE.SEC.ENRR,89.7153091430664,94.0597763061523,97.6358337402344,98.5333862304688,96.697380065918,96.6082077026367,98.4955215454102,99.2443237304688,101.081367492676,105.711692810059,104.346252441406,99.1162109375,96.0794677734375,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Togo,TGO,"School enrollment, secondary (% gross)",SE.SEC.ENRR,41.1047515869141,42.6063613891602,45.0299682617188,47.006721496582,44.025089263916,..,..,..,54.7085914611816,..,..,..,..,..,..
240,Tonga,TON,"School enrollment, secondary (% gross)",SE.SEC.ENRR,119.92839050293,105.59903717041,..,101.514930725098,104.914726257324,104.231369018555,103.871467590332,104.158737182617,104.56974029541,91.14111328125,90.6425628662109,90.0993728637695,..,..,..
241,Trinidad and Tobago,TTO,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,85.5115432739258,..,..,..,..,..,..,..,..,..,..,..,..,..
242,Tunisia,TUN,"School enrollment, secondary (% gross)",SE.SEC.ENRR,77.5476379394531,81.6490478515625,84.8042221069336,86.9571228027344,90.6678314208984,92.5060195922852,90.7847900390625,90.4287872314453,92.0575714111328,..,90.1417770385742,87.6324081420898,88.2040634155273,..,..
243,Turkey,TUR,"School enrollment, secondary (% gross)",SE.SEC.ENRR,89.3330917358398,86.235481262207,83.426872253418,87.4504318237305,89.9508438110352,88.2860488891602,79.8890380859375,84.204231262207,88.307258605957,85.1072387695313,100.277938842773,102.541236877441,102.488761901855,..,..
244,Turkmenistan,TKM,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,85.341423034668,..,..,..
245,Turks and Caicos Islands,TCA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
246,Tuvalu,TUV,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,80.7666397094727,86.1631011962891,..,..
247,Uganda,UGA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,19.3740196228027,..,..,24.5164108276367,..,..,..,..,..,..,..,23.2365398406982,..,..
248,Ukraine,UKR,"School enrollment, secondary (% gross)",SE.SEC.ENRR,106.682991027832,102.294250488281,96.9960403442383,97.6786270141602,97.0634536743164,96.0510482788086,94.9358215332031,95.0912704467773,93.2495422363281,97.1062927246094,98.3499526977539,99.2369384765625,..,..,..
249,United Arab Emirates,ARE,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
250,United Kingdom,GBR,"School enrollment, secondary (% gross)",SE.SEC.ENRR,102.071769714355,104.633430480957,105.387283325195,98.2945098876953,96.9335784912109,97.7837295532227,99.3622817993164,101.90885925293,92.8483276367188,91.3931427001953,124.425971984863,127.81128692627,..,..,..
251,United States,USA,"School enrollment, secondary (% gross)",SE.SEC.ENRR,95.005241394043,95.5024871826172,95.6731796264648,95.4037475585938,96.0739364624023,95.9754180908203,95.4182510375977,94.3113098144531,94.6760482788086,94.9803237915039,95.9295806884766,97.5646896362305,..,..,..
252,Upper middle income,UMC,"School enrollment, secondary (% gross)",SE.SEC.ENRR,71.6946334838867,72.578498840332,73.4821395874023,75.2481384277344,77.6678314208984,80.471061706543,82.9747772216797,85.8684234619141,88.2616577148438,89.9128036499023,93.476921081543,94.2282333374023,94.0916595458984,..,..
253,Uruguay,URY,"School enrollment, secondary (% gross)",SE.SEC.ENRR,109.130836486816,106.975929260254,101.215507507324,100.812049865723,91.8318862915039,87.6862487792969,90.0737762451172,90.2958526611328,..,..,107.967376708984,95.0718612670898,..,..,..
254,Uzbekistan,UZB,"School enrollment, secondary (% gross)",SE.SEC.ENRR,96.8782196044922,97.9767990112305,89.748908996582,90.3904113769531,92.4736480712891,91.9651565551758,94.0329208374023,94.8977432250977,95.4134979248047,97.2519073486328,96.5903778076172,96.3335189819336,95.6401824951172,95.923942565918,..
255,Vanuatu,VUT,"School enrollment, secondary (% gross)",SE.SEC.ENRR,40.3505516052246,42.7556190490723,..,..,..,..,..,59.5326995849609,..,..,..,..,54.8158416748047,..,..
256,"Venezuela, RB",VEN,"School enrollment, secondary (% gross)",SE.SEC.ENRR,68.0286407470703,70.5816268920898,72.9543914794922,75.6100921630859,78.145866394043,79.9128112792969,80.8936920166016,80.9477615356445,82.0646820068359,84.3941497802734,92.1246795654297,91.6112823486328,89.6640090942383,..,..
257,Vietnam,VNM,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
258,Virgin Islands (U.S.),VIR,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
259,West Bank and Gaza,PSE,"School enrollment, secondary (% gross)",SE.SEC.ENRR,84.7935409545898,88.5054626464844,89.6348876953125,90.8078765869141,90.3061599731445,88.7745666503906,87.5614624023438,85.6314163208008,83.870719909668,83.0920333862305,82.5386199951172,82.2404479980469,82.9962310791016,..,..
260,World,WLD,"School enrollment, secondary (% gross)",SE.SEC.ENRR,62.1646690368652,62.9559211730957,63.779411315918,64.7345809936523,66.3256607055664,67.9505386352539,68.885368347168,70.8051376342773,72.3765869140625,73.7062225341797,75.3790512084961,76.4463729858398,76.4230728149414,..,..
261,"Yemen, Rep.",YEM,"School enrollment, secondary (% gross)",SE.SEC.ENRR,46.6096000671387,47.1999893188477,45.6537399291992,..,..,42.2962913513184,..,43.3746185302734,45.4309310913086,46.236141204834,48.6246604919434,..,..,..,..
262,Zambia,ZMB,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
263,Zimbabwe,ZWE,"School enrollment, secondary (% gross)",SE.SEC.ENRR,37.6187591552734,..,..,..,..,..,..,..,..,46.6731796264648,47.5701904296875,..,..,..,..
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Last Updated: 01/25/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df_secondary_edu = df_secondary_edu.dropna()

In [112]:
df_secondary_edu = df_secondary_edu.replace(to_replace='..', value=0)
df_secondary_edu = df_secondary_edu.drop(['Country Code', 'Series Code'], axis=1)

In [113]:
df_secondary_edu = df_secondary_edu.set_index('Country Name')

In [114]:
df_secondary_edu.head()

,Series Name,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
Country Name,,,,,,,,,,,,,,,,
Afghanistan,"School enrollment, secondary (% gross)",13.3170795440674,18.6647891998291,19.7837009429932,29.9304599761963,30.0831604003906,40.2233810424805,46.7327613830566,53.2468299865723,54.6161804199219,56.6773414611816,56.6886596679688,55.6561584472656,55.6444091796875,0,0
Albania,"School enrollment, secondary (% gross)",75.0189895629883,74.170280456543,76.8870620727539,77.9558868408203,81.2808685302734,83.6489181518555,85.409309387207,88.4116363525391,90.8483505249023,92.7414703369141,95.8315734863281,96.4260864257813,95.7654876708984,0,0
Algeria,"School enrollment, secondary (% gross)",73.7556610107422,77.2134017944336,78.7822265625,79.7915802001953,70.2812118530273,76.7558517456055,93.0700302124023,97.1719207763672,99.8601913452148,0,0,0,0,0,0
American Samoa,"School enrollment, secondary (% gross)",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Andorra,"School enrollment, secondary (% gross)",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [115]:
df_secondary_edu.to_csv('../cleaned_resources/clean_sec_edu.csv')